.navbarContainer {
  width: 100%;
  background-color: #fff; /* White background */
}

.topBar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f8f8f8; /* Light gray background */
  font-size: 14px;
  color: black; /* Black text for the top bar */
}

.bottomBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white; /* White background */
  color: black; /* Black text for bottom bar */
}

.logo img {
  width: 150px;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: black; /* Black for hamburger lines */
  margin: 4px 0;
}

.hamburger .close {
  font-size: 24px;
  color: black; /* Black for close (X) icon */
}

/* Navigation Menu */
.navMenu {
  display: flex;
  list-style: none;
  position: relative; /* No need for absolute here for desktop view */
}

.navMenu li {
  margin: 0 15px;
}

.navMenu li a {
  color: black; /* Black text for links */
  text-decoration: none;
}

.navMenu li a:hover {
  color: gray; /* Gray text when hovering over links */
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  /* Adjust this as needed */
  .hamburger {
    display: flex;
  }

  .navMenu {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: white; /* White background for mobile menu */
    color: black; /* Black text for mobile menu */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
  }

  .navMenu.active {
    transform: translateX(0); /* Slide the menu in from the left */
  }

  .navMenu li {
    margin: 20px 0;
  }

  .hamburger .close {
    font-size: 24px;
    color: black; /* Black for close button in mobile */
  }
  .topBar {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
